.room-card-container {

    &.border-red {
        border: .5px solid red;

    }

    .room-card-header {
        padding: 10px 15px;
    }

    .room-card-body {
        padding: 10px 15px;
    }

    .ml-auto {
        margin-left: auto;
    }

    .mr-auto {
        margin-right: auto;
    }

    .display-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}