.room-type-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: -30px;
    .left-container {
        width: 80%;
    }
    .divider {
        width: 1px;
        height: 112.5vh;
        background: #E5E5E5;
        margin: 0px 0px 0px 10px;
    }
    .right-container {
        flex-basis: 20%;
    }
}