.add-room-type-container {
    width: 129%;

    .pl-10 {
        padding-left: 10px;
    }

    .pt-10 {
        padding-top: 10px;
    }

    .mt-15 {
        margin-top: 15px;
    }

    .ml-auto {
        margin-left: auto;
    }

    .add-room-type-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

}