.sweet-loading {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #66666645;
    transform: translate(-21px, -24px)
}