.view-by-day-container {
    .view-day-date {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-medium {
        font-size: 18px;
    }
}