.add-room-form {

    .text-center {
        text-align: center;
    }

    .pl-10 {
        padding-left: 10px;
    }

    .mt-8 {
        margin-top: 8px;
    }

    .mb-8 {
        margin-bottom: 8px;
    }

    .ml-auto {
        margin-left: auto;
    }

    .click-able {
        cursor: pointer;
    }

    margin-right: -90px;

    .add-room-container {
        display: flex;
        flex-direction: column;
        // width: 129%;
        .form-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            margin-bottom: 12px;
        }

        .save-room-body {
            padding-left: 20px;
            margin-bottom: 20px;
        }

        .add-room-body {
            h6 {
                margin: 10px 0px 10px 0px;
                font-weight: 500;
            }

            .add-room-action {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .form-rows {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

}