.check-in-form-container {
    // width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: -90px;
    flex-basis: 41%;
    .form-header {
        display: flex;
        align-items: center;
        padding-top: 15px;
        margin-bottom: 21px;
    }

    .ml-auto {
        margin-left: auto;
    }

    .pl-10 {
        padding-left: 10px;
    }

    .mr-10 {
        margin-right: 10px;
    }

}